*{
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    height: 70px;
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    z-index: 100;
}

.nav{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    color: #fff;
    line-height: 2.6;
   
}

.bg_color{
    background: rgba(23, 84, 177, 0.4);
}

.nav h1{
    display: inline;
    margin-left: 10px;
    position: relative;
    top: -19px;
    font-size: 28px;
    color: #fff;
}

.nav img{
    border-radius: 50%;
}

.nav ul{
    margin-top: 15px;
}

.nav ul li{
    display: inline;
    padding: 0 27px;
    list-style: none;
}

.nav ul li a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    transition: .7s ease-in-out;
}

.nav ul li a:hover{
    color: #f00;
    border-bottom: 2px solid #000;
}

.logo{
    width: 80px;
    height: 60px;
}

.toggle{
    display: none;
}

.log_out{
    width: 90px;
    height: 30px;
    margin: 20px 20px 0 0;
    text-transform: uppercase;
    background: radial-gradient(
        ellipse at left bottom,
         rgba(26, 135, 143, 0.133)0%,
         #119daf 59%,
         rgb(18, 219, 209) 100%
    );
    color: #fff;
    border: none;
    transition: .7s linear all;
}

.log_out:hover{
    background: radial-gradient(
        ellipse at left bottom,
        rgb(194, 44, 33) 0%,
        rgba(177,23,67) 57%,
        rgb(181, 122, 11) 100%
    );
}

@media(max-width:992px){

    .toggle{
        display: block;
        margin-right: 25px;
        margin-left: 25px;
    }
   
    .nav .outerdiv{
        display: flex;
        line-height: 2.2;
        margin-top: 1.3em;
        flex-direction: row;
        justify-content: space-between;
    }
    .nav h1{
        font-size: 25px;
        top: -11px;
    }

    .nav img{
        margin-top: -5px;
    }

    .nav ul{
        display: none;
    }

    .logo{
        width: 70px;
        height: 40px;
    }

    .log_out{
        display: none;
    }
}

@media(max-width:320px){
    .nav h1{
        font-size: 17px;
        top: -5px;
    }
}